[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pymongo = "==3.12.1"
dnspython = "*"
django-cors-headers = "*"
djongo = "*"
mongoengine = "*"
django-mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.9"
